<mat-card>
  <mat-card-header
    ><mat-card-title>{{ dataSource.dayId | weekDay }}</mat-card-title>
    <button mat-icon-button><mat-icon>border_color</mat-icon></button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource.lessons">
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Время</th>
      <td mat-cell *matCellDef="let element">
        {{ element.time }}
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Предмет</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>
    <ng-container matColumnDef="lecturer">
      <th mat-header-cell *matHeaderCellDef>Лектор</th>
      <td mat-cell *matCellDef="let element">{{ element.lecturer }}</td>
    </ng-container>
    <ng-container matColumnDef="classroom">
      <th mat-header-cell *matHeaderCellDef>Ауд.</th>
      <td mat-cell *matCellDef="let element">{{ element.classroom }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
