<<<<<<< HEAD
div[mat-dialog-content] {
  display: flex;
  flex-direction: column;
}
.slider-wrapper {
  display: flex;
  justify-content: space-around;
}
mat-dialog-actions {
  display: flex;
  justify-content: right;
}
=======

>>>>>>> parent of 5d88391 (add arrows on edit dialog)
