a {
  color: white;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
mat-toolbar-row {
  display: flex;
  justify-content: space-around;
}
:host {
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
