<h1 mat-dialog-title>Авторизация</h1>
<div mat-dialog-content>
  <mat-form-field
    ><mat-label>Имя</mat-label>
    <input
      [(ngModel)]="data.name"
      #name="ngModel"
      matInput
      minlength="3"
      maxlength="20"
      required
    />
  </mat-form-field>
  <mat-form-field
    ><mat-label>Пароль</mat-label>
    <input
      [(ngModel)]="data.password"
      #password="ngModel"
      matInput
      type="password"
      minlength="3"
      maxlength="20"
      required
    />
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button
    mat-button
    [disabled]="password.control.invalid || name.control.invalid"
    [mat-dialog-close]="data"
  >
    Войти
  </button>
  <button mat-button mat-dialog-close>Отмена</button>
</mat-dialog-actions>
