<div class="container">
  <div class="field-wrapper">
    <button mat-icon-button (click)="toggleZoom()">
      <mat-icon [ngStyle]="{ color: togglerZoom ? 'lightgreen' : 'grey' }">{{
        togglerZoom ? "toggle_on" : "toggle_off"
      }}</mat-icon>
    </button>
    <mat-form-field class="group-field">
      <mat-label>Выберите группу</mat-label>
      <input
        #box
        matInput
        [matAutocomplete]="auto"
        placeholder="Писать здесь"
        (input)="onInputChange(box.value.toUpperCase())"
        (keydown.enter)="onInputChange(box.value.toUpperCase()); box.blur()"
        (click)="box.value = ''; onInputChange('')"
      />
      <mat-autocomplete #auto="matAutocomplete" requireSelection>
        @for (option of filteredOptions; track option) {
        <mat-option [value]="option" (click)="onInputChange(option)">{{
          option
        }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button (click)="editSchedule()">
      <mat-icon> border_color</mat-icon>
    </button>
  </div>
  <div class="single-wrapper" *ngIf="!togglerZoom">
    <ng-container *ngFor="let element of currentSchedule">
      <app-card-list [dataSource]="element"></app-card-list>
    </ng-container>
  </div>
  <div class="single-wrapper" *ngIf="togglerZoom && todaySchedule">
    <app-card-list [dataSource]="todaySchedule"></app-card-list>
  </div>
</div>
